* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 15%;
  border: 1px solid #FFB200;
  transform: translate(-50%, -50%) rotateZ(45deg);
  pointer-events: none;
  mix-blend-mode: difference;
}

.intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  position: fixed;
  z-index: 5000;
}
.navbar .logo {
  font-size: 3.2rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: thin;
  text-transform: uppercase;
  color: black;
}
.navbar .navbarLinks {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.navbar .navbarLinks a {
  font-size: 2rem;
  color: black;
  font-family: "Abril Fatface", cursive;
  text-transform: lowercase;
  transition: 0.4s;
}
.navbar .navbarLinks a:hover {
  transform: scale(90%);
}

.header {
  width: 90%;
  height: 93vh;
  background-image: url("https://media-s3-us-east-1.ceros.com/uk/images/2019/12/15/11fd52c80f75ee59f71fc06178b4fd79/animation-of-wave-motion-black-and-white-abstract-background-with-wavy-lines-of-dots-poster-frame-0.jpg?imageOpt=1");
  background-size: cover;
  display: flex;
  flex-flow: column;
  margin-top: 7vh;
}
.header h1 {
  font-size: 24rem;
  letter-spacing: 1rem;
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
  color: transparent;
  margin-top: 3rem;
  text-align: center;
  -webkit-text-stroke: 1.5px #FFB200;
}
.header h1 span {
  -webkit-text-stroke: 1.5px white;
}
.header .headerText {
  text-align: center;
  color: #DCD7C9;
  font-size: 2rem;
  margin-top: -4rem;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.8rem;
  color: #FFF;
  text-align: right;
  margin-right: 21rem;
}
.header .movingLine {
  margin-top: auto;
  margin-bottom: 8rem;
  height: 8vh;
  width: 80%;
  align-self: center;
  border-top: 1px solid #FFB200;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.header .movingLine .movingText {
  color: #FFB200;
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
  -webkit-animation: slide;
          animation: slide;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(-132rem);
  }
  100% {
    transform: translateX(132rem);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-132rem);
  }
  100% {
    transform: translateX(132rem);
  }
}
.container {
  display: flex;
  height: 95vh;
  font-family: "Crimson Text", serif;
}
.container .containerImg {
  flex: 1.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .containerImg img {
  border-radius: 1rem;
  -webkit-clip-path: polygon(100% 55%, 0% 20%, 30% 50%, 0 0, 100% 100%, 51% 100%, 0 100%, 100% 0, 70% 50%, 100% 20%, 0 54%, 50% 0);
          clip-path: polygon(100% 55%, 0% 20%, 30% 50%, 0 0, 100% 100%, 51% 100%, 0 100%, 100% 0, 70% 50%, 100% 20%, 0 54%, 50% 0);
}
.container .containerContents {
  flex: 1.2;
  display: flex;
  flex-flow: column;
}
.container .containerContents .containerHeading {
  font-size: 8rem;
  width: 70%;
  font-weight: 700;
  margin-top: 10rem;
}
.container .containerText {
  flex: 1;
  font-size: 2rem;
  width: 50%;
  display: inline-flex;
  align-self: flex-end;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

.signUp {
  display: flex;
}
.signUp .signUpButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-top-right-radius: 1rem;
}
.signUp .signUpButton a {
  position: relative;
  display: inline-block;
  padding: 12.5rem 9rem;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.3s;
  border-radius: 50%;
  border: 1px solid white;
}
.signUp .signUpButton a:hover {
  transform: scale(90%);
  color: black;
  border: none;
  background: #ffffff;
  box-shadow: 0 0 1rem #ffffff, 0 0 4rem #0010f1, 0 0 8rem #1CD6CE;
}
.signUp .signUpImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.midContent {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}
.midContent .gridLayouts {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 60%;
  justify-content: center;
  align-items: center;
}
.midContent .gridLayouts .gridRight {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 1;
  margin-bottom: 10rem;
}
.midContent .gridLayouts .gridRight .mcHeader {
  font-size: 6rem;
  margin-top: 1rem;
  color: white;
  text-decoration: underline;
}
.midContent .gridLayouts .gridRight .grid-paragraphs {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 6rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: white;
}
.midContent .gridLayouts .gridRight .linearGradient {
  width: 60rem;
  height: 18rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(145, 145, 145) 10%, rgb(255, 255, 255) 20%, rgb(219, 255, 0) 30%, rgb(0, 0, 0) 40%, rgb(255, 255, 255) 50%, rgb(255, 0, 254) 60%, rgb(0, 0, 0) 70%, rgb(0, 0, 0) 80%, rgb(255, 255, 255) 90%, rgb(0, 0, 0) 100%);
}/*# sourceMappingURL=style.css.map */